@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}

.edit-page {
  background-color: #ffffff;
  height: 100vh;
  .van-cell-group__title {
    background-color: #f8f8f8;
  }
}

.edit-cell {
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
  color: #969799;
  background: #f8f8f8;
}

.data-none-cell {
  text-align: center;
  border-radius: 5px;
  color: #969799;
}

.info-item {
  border-bottom: #f8f8f8 solid 5px;
}

.cellItem-title {
  padding: 0.21333rem 0.21333rem 0.21333rem;
  color: #969799;
  font-size: 0.37333rem;
  line-height: 0.42667rem;
  background-color: #f8f8f8;
}

// 首页 顶部信息栏
.header-row {
  padding: 11px 0px;

  .headerBox {
    margin: 0px 16px;
    display: flex;
    background: #ffffff;
  }

  h3 {
    margin: 0px;
  }
  p {
    margin: 0px;
    font-size: 13px;
    line-height: 20px;
    color: #ababab;
  }

  .headerPic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0px 16px 0px 0px;
  }
}

/* 查看多张图片样式 */
.upload-show-multiple {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  float: left;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 删除标签 */
  .pic-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 14px;
    padding-left: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 0 12px;

    i {
      color: white;
      font-size: 22px;
    }
  }
}
